---
layout: default
---

	{% include partials/head.html %}
<div class="anm-moveFromBottom delay-800">
    {% include partials/navigation/nav.html %}
</div>
    <main id="page-main" role="main" class="home-page anm-fadeIn delay-1200">
			<section id="covers">
			{% include partials/navigation/covers.html %}
			</section>
			<hr>
			<section id="home-video">
				<div class="thumb-6 pushed-3">
					<figure>
						<div>
							<iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ site.home_video }}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
					</figure>
				</div>
			</section>
			<hr>
    </main>
