<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/helpers.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet">

    {% include favicons.html %}

  </head>
  <body>
	<!-- Page content -->
	<div class="page cover-page" id="page">
	{% include partials/navigation/nav.html %}
		<header id="page-header" class="about-cover anm-moveFromTop delay-200">
			<div>
				<h1 class="anm-moveFromBottomFade delay-300">{{ page.title }}</h1>
				<div id="contacto">
					<em><a href="tel:+34{{ site.phone1 }}"><b>+34</b> {{ site.phone1 }}</a></em>
					<em><a href="tel:+34{{ site.phone2 }}"><b>+34</b> {{ site.phone2 }}</a></em>
					<em><a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a></em>
				</div>
			</div>
		</header>
		<main id="page-main" class="anm-fadeIn delay-900 slow">
			<div>
				<section id="info-about" class="anm-fadeIn delay-1000">
					<div class="info">
						<button class="hexagon" class="anm-moveFromTopFade delay-1500"><a href="#info-about">Bio</a></button>
					</div>
					<h5>{{ site.biotitle }}</h5>
					<h3 class="anm-moveFromBottomFade delay-1500"><small>{{ site.bio }}</small></h3>
					<div id="contracta">
						<em class="thumb anm-scaleUp delay-1500 slow"><u><label for="modal-two">Contratación</label></u></em>
					</div>
					<hr>
				</section>
				<section id="prensa" class="anm-fadeIn delay-1500">
					<div class="layout">
						<div class="info">
							<button class="hexagon" class="anm-moveFromTopFade delay-1500"><a href="#prensa">Info</a></button>
						</div>
						<h5>{{ site.presstitle }}</h5>
						<br>
						<div id="branding" class="thumb-6">
							<figure><a href="{{ site.baseurl }}/img/branding.jpg" target="_blank"><img src="{{ site.baseurl }}/img/branding.jpg" title="Descargar imagen"></a></figure>
						</div>
						<div class="press text-left thumb-6">
							<h5><small>{{ site.prensa }}</small></h5>
						</div>
						<hr>
						<div id="download">
		{% if site.d_press %}<em><u><a href="{{ site.u_press }}" target="_blank"><i class="icon-cloud-download"></i> {{ site.d_press }}</a></u></em>{% endif %}
		{% if site.d_press %}<em><u><a href="{{ site.u_rider }}" target="_blank"><i class="icon-cloud-download"></i> {{ site.d_rider }}</a></u></em>{% endif %}
		{% if site.d_press %}<em><u><a href="{{ site.u_fotos }}" target="_blank"><i class="icon-cloud-download"></i> {{ site.d_fotos }}</a></u></em>{% endif %}
		{% if site.d_press %}<em><u><a href="{{ site.u_all }}" target="_blank"><i class="icon-cloud-download"></i> {{ site.d_all }}</a></u></em>{% endif %}
						</div>
						<hr>
						<div id="icons" calss="press-icons">
{% if site.footer-links.facebook %}<em><small><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="blank"><i class="icon-facebook" alt="icona Facebook"></i> <label>{{ site.footer-links.facebook }}</label></a></small></em>{% endif %}
{% if site.footer-links.twitter %}<em><small><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="blank"><i class="icon-twitter" alt="icona Twitter"></i> <label>{{ site.footer-links.twitter }}</label></a></small></em>{% endif %}
{% if site.footer-links.instagram %}<em><small><a href="https://instagram.com/{{ site.footer-links.instagram }}" target="blank"><i class="icon-instagram" alt="icona Instagram"></i> <label>{{ site.footer-links.instagram }}</label></a></small></em>{% endif %}
{% if site.footer-links.youtube %}<em><small><a href="https://youtube.com/{{ site.footer-links.youtube }}" target="blank"><i class="icon-youtube" alt="icona Youtube"></i></a> <label>{{ site.footer-links.youtube }}</label></small></em>{% endif %}
{% if site.footer-links.github %}<em><small><a href="https://github.com/{{ site.footer-links.github }}" target="blank"><i class="icon-github" alt="icona Github"></i></a> <label>{{ site.footer-links.github }}</label></small></em>{% endif %}
{% if site.footer-links.behance %}<em><small><a href="https://behance.com/user/?username={{ site.footer-links.behance }}" target="blank"><i class="icon-behance" alt="icona Behance"></i> <label>{{ site.footer-links.behance }}</label></a></small></em>{% endif %}
{% if site.footer-links.googleplus %}<em><small><a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="blank"><i class="icon-google-plus" alt="icona Google Plus"></i> <label>{{ site.footer-links.googleplus }}</label></a></small></em>{% endif %}
{% if site.footer-links.linkedin %}<em><small><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="blank"><i class="icon-linkedin" alt="icona Linkedin"></i> <label>{{ site.footer-links.linkedin }}</label></a></small></em>{% endif %}
{% if site.footer-links.pinterest %}<em><small><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="blank"><i class="icon-pinterest" alt="icona Pinterest"></i> <label>{{ site.footer-links.pinterest }}</label></a></small></em>{% endif %}
{% if site.footer-links.flickr %}<em><small><a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="blank"><i class="icon-flickr" alt="icona Flickr"></i> <label>{{ site.footer-links.flickr }}</label></a></small></em>{% endif %}
{% if site.footer-links.stackoverflow %}<em><small><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="blank"><i class="icon-stackoverflow" alt="icona stackoverflow"></i> <label>{{ site.footer-links.stackoverflow }}</label></a></small></em>{% endif %}
						</div>
					</div>
					<hr>
				</section>
				<hr>									
			</div>
		</main>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->	
    {% include partials/dialog.html %}  

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
    {% include analytics.html %}
  </body>
</html>
